.super-sidebar {
  top: 0;
  width: $contextual-sidebar-width;
  z-index: 600;

  .user-bar {
    background-color: $t-gray-a-04;

    .tanuki-logo {
      @include gl-vertical-align-middle;
    }
  }

  .counter .gl-icon {
    color: var(--gray-500, $gray-500);
  }

  .counter:hover,
  .counter:focus,
  .gl-dropdown-custom-toggle:hover .counter,
  .gl-dropdown-custom-toggle:focus .counter,
  .gl-dropdown-custom-toggle[aria-expanded='true'] .counter {
    background-color: $gray-50;
    border-color: transparent;
    mix-blend-mode: multiply;

    .gl-icon {
      color: var(--gray-700, $gray-700);
    }
  }

  .context-switcher-toggle {
    &[aria-expanded='true'] {
      background-color: $t-gray-a-08;
    }
  }
}

.with-performance-bar .super-sidebar {
  top: $performance-bar-height;
}
